*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.navbar{
    padding: 10px 0px 10px 80px;
    background-color: #292870;
}
.part1{
    background-image: url(./icons/10009.jpg);
    height: 1000px;
    background-size: cover;   
}
.bg1{
    text-align: center;
}
.bg1 > img {
    margin-top: 80px;
    height: 90px;
}
.bg1 > h1 {
    margin-top: 20px;
    font-size: 70px;
    font-weight: 900;
    color: white;
}
.link1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
}
.link1 > p,a{
    color: white;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 5px;
}
p > a:hover{
    text-decoration: none;
}

.btn1{
    margin-top: 80px;
    text-align: center;
}
.btn1 > button{
    border-radius: 30px;
    font-size: 20PX;
    font-weight: 800;
    height: 50px;
    width: 280px;
}

.download{
    color: #292870;
    border: 0px solid;
    box-shadow: 2px 2px 10px rgb(12, 12, 12);
    margin-right: 30px;
}
.download:hover{
    color: white;
    background-color: #292870;
}
.start{
    background-color: #292870;
    color: white;
    border: 0px solid;
    box-shadow: 2px 2px 10px rgb(12, 12, 12);
}
.start:hover{
    background-color: white;
    color: #292870;
}
.image1 > img{
    height: 500px;
    position: relative;
    top: 15px;
    left: 450px;
}
.part2{
    height: 650px;
    background-color: #292870;
}
.con1 > h2{
    color: #EFAB47;
    font-size: 30px;
}
.con1 > p,a{
    font-size: 20px;
    margin-top: 30px;
    font-weight: normal;
    text-align: left;
}
.con2 > img {
    height:250px;
    border-radius: 50%;
}
.con2 > h1{
    margin-top: 20px;
    color: #EFAB47; 
}
.con2 > p{
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: normal;
    text-align: start;
}
.con2 > hr{
    margin-top: 20px;
    width: 200px;
    height: 8px;
    background-color: #EFAB47;
}
.con2 > button{
    height: 50px;
    width: 250px;
    margin-top: 30px;
    background-color: #EFAB47;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    color: #292870;
    font-weight: 600;
}
.con1{
    position: relative;
    left: 200px;
    top: 50px;
}
.con2{
    width: 300px;
    position: relative;
    top: 50px;
    left: 400px;
}
.part2{
    display: flex;
}
.full-con{
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-image: url(./icons/10011.jpg);
}
.part3{
    background-image: url(./icons/10011.jpg);
    height: 700px;
    background-size: cover;
}
.des1 > h1{
    font-size: 70px;
    font-weight: 900;
}
.des1 > h3{
    font-size: 45px;
    word-spacing: 5px;
}
.des1 > p{
    font-size: 25px;
}
.des1 > a:hover{
    text-decoration: none;
}
.des2 > h3{
    font-size: 35px;
}
.des2 > p{
    font-size: 20px;
}
.des1{
    position: relative;
    top: 70px;
    left: 150px;
}
.des2{
    position: relative;
    top: 200px;
}
.img2 > img{
    position: relative;
    top: -191px;
    left: 800px;
    height: 550px;
}